<div>
  <h1 class="app-title">
    My <i class="fab fa-angular" style="color: red"></i> TODO app
  </h1>
</div>
<div class="container" style="text-align: center; margin-top: 20px">
  Add a new todo Item...
  <br />
  <input
    type="text"
    class="input-text"
    placeholder="Type a new TODO"
    [(ngModel)]="todoValue"
    (keyup.enter)="addItem()"
  />
  <button class="add-btn" (click)="addItem()">Add TODO</button>
  <div class="list">
    <ul>
      <li style="text-align: left" *ngFor="let item of list">
        <input type="checkbox" name="isDone" [(ngModel)]="item.isDone" />
        {{ item.value }}
        <button class="btn" (click)="deleteIdtem(item.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>
